.kosong {
  padding: 15px 25px;
  background-color: var(--main-background-color);
  color: white;
  font-size: 16px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  margin: auto;
  font-weight: bold;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--main-background-color);
	padding: 0px 16px;
	height: 80px;
}

.nav-icon {
	height: 40px;
	width: 40px;
	padding-right: 5px;
}

.nav-title {
	color: var(--secondary-font-color);
	font-size: 30px;
	font-weight: bold;
}

.container {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 80px);
	max-width: 480px;
	padding: 16px;
	margin: 0px auto;
	background-color: var(--main-container-color);
}

.form {
	display: flex;
	margin-top: 10px;
}

.input {
	height: 50px;
	flex: 1;
	margin-right: 12px;
	box-shadow: var(--main-box-shadow);
	border: none;
	border-radius: 6px;
	padding: 10px;
	color: var(--main-font-color);
	font-size: 18px;
	font-weight: 600;
}

.add-button {
	border: none;
	border-radius: 6px;
	color: var(--secondary-font-color);
	font-size: 18px;
	font-weight: 600;
	padding: 10px 16px;
	width: auto;
	background-color: var(--main-background-color);
	box-shadow: var(--main-box-shadow);
}

.todos {
	box-shadow: var(--main-box-shadow);
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 8px;
	margin-top: 10px;
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 12px 16px;
	background-color: var(--secondary-background-color-light);
	color: var(--main-font-color);
	font-size: 16px;
	font-weight: 600;
}

.todo-count {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 30px;
	border-radius: 4px;
	color: var(--label-font-color);
	background-color: var(--secondary-background-color);
	box-shadow: var(--main-box-shadow-inset);
}

.todo-icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	width: 120px;
}

.todo-action-button {
	border: none;
	background-color: unset;
	padding: unset;
	height: 30px;
	width: 30px;
}

.todo-divider {
	border-bottom: 2px solid var(--main-border-color);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0px 10px;
}

.info-total {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-font-color);
  font-size: 13px;
}

.info-total > p {
  font-weight: bold;
}

.delete-all-button {
  background-color: unset;
  border: none;
  padding: unset;
  color: var(--danger-font-color);
  font-size: 13px;
  font-weight: bold;
}
