.form {
	display: flex;
	margin-top: 10px;
}

.input {
	height: 50px;
	flex: 1;
	margin-right: 12px;
	box-shadow: var(--main-box-shadow);
	border: none;
	border-radius: 6px;
	padding: 10px;
	color: var(--main-font-color);
	font-size: 18px;
	font-weight: 600;
}

.addButton {
	border: none;
	border-radius: 6px;
	color: var(--secondary-font-color);
	font-size: 18px;
	font-weight: 600;
	padding: 10px 16px;
	width: auto;
	background-color: var(--main-background-color);
	box-shadow: var(--main-box-shadow);
}